.todo-container {
  display: flex;
  justify-content: space-between;
<<<<<<< HEAD
  align-items: center;
  margin-top: 10px;
}

.checkbox-input {
  width: 15px;
  height: 15px;
  border-radius: 8px;
  align-self: center;
}

input[type='checkbox']:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.todo-container p {
=======
  margin-top: 10px;
}

.del-btn {
  background-color: transparent;
  width: 80px;
  height: 40px;
  border: 1px solid #ff0b37;
  border-radius: 8px;
  color: #ff0b37;
  cursor: pointer;
}

.todo {
>>>>>>> upadted
  flex: 1;
  text-align: left;
}

<<<<<<< HEAD
.strike-p {
  text-decoration: line-through;
}

.todo-edit-input {
  flex: 1;
  border: 1 sold #000;
  border-radius: 6px;
  padding: 10px;
  outline: none;
  margin-right: 10px;
}

.del-btn {
  background-color: transparent;
  width: 80px;
  height: 40px;
  border: 1px solid #ff0b37;
  border-radius: 12px;
  color: #ff0b37;
  cursor: pointer;
}

.edit-btn {
  background-color: transparent;
  justify-items: flex-end;
  width: 80px;
  padding: 10px;
  height: 40px;
  margin-right: 10px;
  outline: none;
  border: 1px solid green;
  border-radius: 10px;
  color: green;
=======
.edit-btn {
  border: 1px solid #ffc2a0;
  color: #ff8542;
  padding: 10px;
  width: 80px;
  height: 40px;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  margin-inline: 8px;
}

.edit-input {
  padding: 10px;
  flex: 1;
  outline: none;
  border: 1px solid #3c3c3c;
  border-radius: 7px;
>>>>>>> upadted
}
