* {
  box-sizing: border-box;
}
.bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-container {
  min-height: 70vh;
  width: 60%;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
}

.heading {
  font-size: 28px;
  color: #ff8542;
}

.add-new-todo-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.add-new-todo-container input {
  padding: 10px;
  flex: 1;
  outline: none;
  border: 1 solid #000;
  border-radius: 5px;
}

.add-new-todo-container button {
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  margin-left: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 67, 144);
  color: #fff;
}
